# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.ipr
*.iws
.idea/

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
*.apk

# iOS
ios/Pods/
ios/.symlinks/

# OS
.DS_Store
Thumbs.db
